canvas{
  background-color: black;
  border-style: solid;
  border-color: white;
}
input{
  color: #FFFFFF;
  background-color: #fbfbfb33;
  border-style:solid;
  border-color:black;
}
body{
  color:#fbfbfb6f;
  margin-top: 10px;
  margin-left: 20px;
  background-color: black;
}
#centerStuff{
  width:750px;
}
#INPUTS{
  position:relative;
}
#inputsNetwork{
  position:absolute;
  z-index: 1;
}
#inputsFunc{
  position:absolute;
  right:20px;
  z-index: 2;
}
#ErrorGraph{
  position: absolute;
  top:0px;
  z-index: 3;
  right:20px;
}
.disabled-values{
  color: #FFFFFF;
  background-color: #ffffff00;
  border-style:solid;
  border-color:black;
}
#trainFunc{
  background-color:#636363;
}
